@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary-color: #d9d9d9;
  --secondary-color: #778da9;
  --text-color: #000000;
}

.programForm {
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.program-card {
  background-color: var(--secondary-color);
  width: 300px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.program-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.program-title {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
}

.program-description {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 0;
  padding: 0.5rem;
}

.program-actors {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: var(--text-color);
  margin: 0;
  padding: 0.5rem;
}
